---toml
layout = "2-default"
lang = "en"

[obj]
icon = "https://raw.githubusercontent.com/starshardstudio/emblems/main/rendered/language.png"

[obj.title.pre]
en = "Did you know that"

[obj.title.main]
en = "Star Shard Events"

[obj.title.post]
en = "is available in multiple languages?"

---

<div class="chapter-1">
    <div class="panel box width-max1">
        <h3>
            Select your language
        </h3>
        <div class="chapter-2">
            <a href="/en/">
                <div class="panel">
                    {{ "GB" | emojiFlag }} English
                </div>
            </a>
            <a href="/it/">
                <div class="panel">
                    {{ "IT" | emojiFlag }} Italiano
                </div>
            </a>
        </div>
    </div>
</div>
