.icon {
	display: inline-block;
	height: 1.2em;
	vertical-align: sub;
	border-radius: 100%;
	box-shadow: var(--b-outer-shadow);
}

.width-max1 {
	flex-basis: 476px;
	flex-grow: 0;
}

@media screen and (max-width: 492px) {
	.width-max1 {
		flex-basis: 100%;
		flex-grow: 0;
	}
}

.font-smaller {
	font-size: smaller;
}

.font-larger {
    font-size: larger;
}

time {
	text-decoration: underline 1px dotted currentColor;
	cursor: help;
}

.list-with-some-space li {
	margin-bottom: 4px;
}

.list-with-some-space li:last-child {
	margin-bottom: 0;
}

.list-events, .list-players {
	margin-left: 0 !important;
	list-style-type: none;
}

.list-events > .event {
	margin: 8px 0;

	display: grid;
	grid-template-areas:
		"icon title"
		"icon extra"
	;
	grid-template-columns: 48px 1fr;
	grid-template-rows: auto 1fr;
	grid-column-gap: 8px;
}

.list-events > .event > .icon {
	grid-area: icon;
	height: auto;

	justify-self: end;
}

.list-events > .event > .event-title {
	grid-area: title;
	font-size: large;

	justify-self: start;
}

.list-events > .event > .event-extra {
	grid-area: extra;
	font-size: small;

	justify-self: start;
}

.place-first {
	font-size: xx-large;
	font-weight: 700;
	color: hsl(36 100% 60%);
}

.place-first::marker {
	color: hsl(36 100% 60% / 40%);
}

.place-second {
	font-size: x-large;
	font-weight: 600;
	color: hsl(205 20% 83%);
}

.place-second::marker {
	color: hsl(205 20% 83% / 40%);
}

.place-third {
	font-size: large;
	font-weight: 500;
	color: hsl(24 100% 62%);
}

.place-third::marker {
	color: hsl(24 100% 62% / 40%)
}
