---
tags: [events]
layout: center

lang: "it"
icon: 'cubes-stacked'
pretitle: 'Steffo presenta'
title: 'Momento Tetro'
description: 'Un torneo di quel gioco in cui si impilano cubi.'
startDate: '2023-04-16T21:00+0200'
---

<div class="chapter-1">
	<h2>
		Cosa vuoi fare, stavolta?
	</h2>
	<div class="panel box width-max1">
		<h3>
			L'evento
		</h3>
		<p>
			Una lobby multigiocatore di TETR.IO!
		</p>
		<p>
			Essa avrà luogo <time datetime="2023-04-16T21:00:00+0200" data-render="relative-long">2023-04-16T21:00:00+0200</time>, il <strong><time datetime="2023-04-16T21:00:00+0200" data-render="full">2023-04-16T21:00:00+0200</time></strong>.
		</p>
		<hr/>
		<p class="font-larger">
			<span>Iscriviti: <a href="https://matrix.to/#/#sss-momento-tetro:ryg.one">via Matrix</a>, <a href="https://t.me/+xGeePCWZTcwxY2Iy">via Telegram</a></span>
		</p>
	</div>
</div>

<div class="chapter-3">
	<h2>
		Cioè?
	</h2>
	<section class="panel box width-max1">
		<h3>
			Impilare cubi in compagnia
		</h3>
		<p>
			<dfn><a href="https://tetris.wiki/TETR.IO">TETR.IO</a></dfn> è un puzzle game competitivo in cui lo scopo è completare linee con dei <a href="https://it.wikipedia.org/wiki/Tetramino">tetramini</a> di varie forme.
		</p>
		<p>
			Quando più persone partecipano alla stessa partita, completare più linee <a href="https://tetris.wiki/Stacking_for_Tetrises">contemporaneamente</a>, <a href="https://tetris.wiki/Combo">consecutivamente</a>, <a href="https://tetris.wiki/T-Spin">in pattern complessi</a> o <a href="https://tetris.wiki/Perfect_clear">svuotando il tabellone di gioco</a> invia un ostacolo alla partita di un altro giocatore, trasformando il gioco quindi in una sfida di sopravvivenza e abilità molto interessante!
		</p>
		<img alt="Un giocatore cerca di ottenere un All Clear in una partita da solo." title="Un giocatore cerca di ottenere un All Clear in una partita da solo." src="https://i.imgur.com/qZLqugd.png">
		<img alt="60 giocatori si stanno sfidando per essere i campioni del Quick Play." title="60 giocatori si stanno sfidando per essere i campioni del Quick Play." src="https://i.imgur.com/Nc6XRXF.png">
		<hr class="float-bottom"/>
		<p class="font-larger">
			Gioca a: <a href="https://tetr.io/">TETR.IO</a>
		</p>
	</section>
	<section class="panel box width-max1">
		<h3>
			Quindi cosa si fa?
		</h3>
		<p>
			Una lobby tutti insieme in amicizia!
		</p>
		<hr/>
		<p>
			La lobby sarà configurata in modo da offrire un'esperienza divertente per un po' tutti i livelli di gioco:
		</p>
		<ol class="list-with-some-space">
			<li>
				si parte con 10 vite per ciascun giocatore
			</li>
			<li>
				i primi minuti saranno tranquilli, dando tempo di ambientarsi ai controlli e al gioco
			</li>
			<li>
				piano piano, la velocità inizierà ad aumentare, e inizieranno a essere possibili piccoli attacchi agli avversari
			</li>
			<li>
				alcuni giocatori inizieranno a perdere qualcuna delle 10 vite iniziali
			</li>
			<li>
				circa al decimo minuto, gli attacchi diventeranno equivalenti a quelli delle partite normali, e la velocità inizierà a essere una sfida
			</li>
			<li>
				sempre più vite saranno perse, e alcuni giocatori potrebbero essere eliminati
			</li>
			<li>
				la velocità e gli attacchi si intensificheranno sempre di più, diventando letali
			</li>
			<li>
				e infine... ne rimarrà soltanto uno, che sarà incoronato vincitore!
			</li>
		</ol>
	</section>
	<section class="panel box width-max1">
		<h3>Impostazioni della lobby</h3>
		<dl>
			<dt>Game preset</dt>
			<dd>Default</dd>
			<dt>Stock</dt>
			<dd>9</dd>
			<dt>Gravity</dt>
			<dd>0.01</dd>
			<dt>Gravity increase</dt>
			<dd>0.000166</dd>
			<dt>Gravity margin time</dt>
			<dd>0</dd>
			<dt>Garbage multiplier</dt>
			<dd>0</dd>
			<dt>Garbage margin time</dt>
			<dd>0</dd>
			<dt>Garbage increase</dt>
			<dd>0.0016666666666666668</dd>
			<dt>Garbage cap</dt>
			<dd>1</dd>
			<dt>Garbage cap increase</dt>
			<dd>0.0083</dd>
			<dt>Allow manual targeting</dt>
			<dd>On</dd>
		</dl>
	</section>
</div>
