---
tags: [players]
layout: center

lang: "it"
icon: 'ice-cream'
pretitle: 'Seeking gelato'
title: 'Steffo'
---

<div class="chapter-1">
	<div class="panel box width-max1 todo">
		<p>
			There's nothing here yet.
		</p>
	</div>
</div>
