---toml
namespace = "https://events.starshard.studio"

[obj.title.main]
it = "Star Shard Events"
en = "Star Shard Events"

[obj.title.post]
it = "Gli eventi futuri!"
en = "The future events!"
---
<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ namespace }}/{{ lang }}/">
    <id>{{ namespace }}/{{ lang }}/events/atom.xml</id>

    <title>{{ s[lang].title.main }}</title>
    <subtitle>{{ s[lang].title.post }}</subtitle>
    <author>
        <name>Stefano Pigozzi</name>
        <email>me@steffo.eu</email>
        <uri>https://www.steffo.eu/</uri>
    </author>
    <generator>Eleventy</generator>
    <icon>https://raw.githubusercontent.com/starshardstudio/emblems/main/rendered/calendar-day.png</icon>
    <rights>© Stefano Pigozzi</rights>
    <link rel="alternate" href="/{{ lang }}/"/>
    <link rel="self" href="/{{ lang }}/events/atom.xml"/>

    <updated>{{ events | getLatestEventUpdate | stringToDate | dateToRfc3339 }}</updated>

    {% for event in events | sortEvents %}
        {% if event.state != "DRAFT" and lang in event.languages %}
            <entry>
                <id>{{ namespace }}/{{ lang }}/events/{{ event.id }}</id>
                <title>{{ event[lang].title.main }}</title>
                <link href="/{{ lang }}/events/{{ event.id }}/"/>
                <summary>{{ event[lang].title.post }}</summary>
                <updated>{{ event.date.update | dateToRfc3339 }}</updated>
                {# <updated>{{ event.date.update | stringToDate | dateToRfc3339 }}</updated> #}
            </entry>
        {% endif %}
    {% endfor %}

</feed>
