---toml
[obj.background]
src = "/_media/kazuend-2KXEb_8G5vo-unsplash-edited-full.jpg"
srcset = "/_media/kazuend-2KXEb_8G5vo-unsplash-edited-480.jpg 1219w, /_media/kazuend-2KXEb_8G5vo-unsplash-edited-720.jpg 1829w, /_media/kazuend-2KXEb_8G5vo-unsplash-edited-1080.jpg 2744w"
sizes = "(max-width: 1219px and max-height: 480px) 1219px, (max-width: 1829px and max-height: 720px) 1829px, (max-width: 2744px and max-height: 1080px) 2744px"

[obj.bluelib]
ruleset = [
    "base",
    "classic",
    "glass",
    "layouts-center",
    "colors-purplestar",
    "fonts-fira-ghpages"
]
---

<!DOCTYPE html>
<!-- Thank you for inspecting the page! :) -->
<html lang="{{ lang }}">
    {% include "includibles/head.njk" %}
    {{ content | safe }}
</html>
