<!DOCTYPE html>
<html {% if lang %}lang="{{ lang }}"{% endif %}>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="{{ description }}">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/base.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/classic.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/glass.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/layouts-center.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/colors-purplestar.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/fonts-fira-ghpages.root.css" type="text/css">
		<link rel="stylesheet" href="/index.css" type="text/css">
		<script src="/index.js"></script>
	</head>
	<body class="layout-center">
		<img
			alt=""
			srcset="/media/kazuend-2KXEb_8G5vo-unsplash-edited-480.jpg 1219w, /media/kazuend-2KXEb_8G5vo-unsplash-edited-720.jpg 1829w, /media/kazuend-2KXEb_8G5vo-unsplash-edited-1080.jpg 2744w"
			sizes="(max-width: 1219px and max-height: 480px) 1219px, (max-width: 1829px and max-height: 720px) 1829px, (max-width: 2744px and max-height: 1080px) 2744px"
			src="/media/kazuend-2KXEb_8G5vo-unsplash-edited-full.jpg"
			class="layout-background"
		>
		{{ content | safe }}
	</body>
</html>
