<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/base.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/classic.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/glass.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/colors-purplestar.root.css" type="text/css">
		<link rel="stylesheet" href="/node_modules/@steffo/bluelib/dist/fonts-fira-ghpages.root.css" type="text/css">
		<link rel="stylesheet" href="/bluelib-custom.root.css" type="text/css">
		<title>{{ title }}</title>
	</head>
	<body>
		<img class="page-background" alt="" src="https://bluelib.steffo.eu/examples/kazuend-2KXEb_8G5vo-unsplash-edited.jpg">
		{{ content | safe }}
	</body>
</html>
