{% if s[lang].title %}
    <header>
        <hgroup id="title">
            {% if s[lang].title.pre %}
                <div id="title-pre">
                    {{ s[lang].title.pre | safe }}
                </div>
            {% endif %}
            {% if s[lang].title.main %}
                <h1 id="title-main">
                    {% if s.icon %}
                        <img id="title-main-icon" alt="" src="{{ s.icon }}" class="icon">
                    {% endif %}
                    <span id="title-main-text">
                        {{ s[lang].title.main }}
                    </span>
                </h1>
            {% endif %}
            {% if s[lang].title.post %}
                <div id="title-post">
                    {{ s[lang].title.post | safe }}
                </div>
            {% endif %}
        </hgroup>
    </header>
{% endif %}
