---
layout: base

s:
    en:
        widget:
            join:
                title: "When does the event start?"
                content1: "The event will begin:"
            placements:
                title: "Placements"
                description: "The event concluded with the following results:"
                rank: "Rank"
                name: "Name"
                score: "Score"
                reward: "Reward"
            cancelled:
                title: "Event cancelled"
                description: "The event was cancelled and will not take place."
    it:
        widget:
            join:
                title: "Quando inizia l'evento?"
                content1: "L'evento avrà inizio:"
            placements:
                title: "Piazzamenti"
                description: "L'evento è terminato con i seguenti risultati:"
                rank: "Posizione"
                name: "Nome"
                score: "Punteggio"
                reward: "Ricompensa"
            cancelled:
                title: "Evento annullato"
                description: "L'evento è stato annullato e non sarà svolto."
---

<div id="widget" class="chapter-1">
    {% if s.cancelled %}
        <section id="widget-cancelled" class="panel box width-max1 red">
            <h3 id="widget-cancelled-title">
                {{ s[lang].widget.cancelled.title }}
            </h3>
            <p id="widget-cancelled-description">
                {{ s[lang].widget.cancelled.description | safe }}
            </p>
        </section>
        {% elif s.finished %}
        <table id="widget-placements" class="panel box width-max1">
            <caption class="table-caption-top">
                <h3 id="widget-placements-title">
                    {{ s[lang].widget.placements.title }}
                </h3>
                <p id="widget-placements-description">
                    {{ s[lang].widget.placements.description | safe }}
                </p>
            </caption>
            <thead>
                <tr>
                    <th>{{ s[lang].widget.placements.rank }}</th>
                    <th>{{ s[lang].widget.placements.name }}</th>
                    <th>{{ s[lang].widget.placements.score }}</th>
                    <th>{{ s[lang].widget.placements.reward }}</th>
                </tr>
            </thead>
            <tbody>
                {% for placement in s.placements %}
                    <tr class="rank-{{ placement.rank }}">
                        <td class="placement-rank">
                            {{ placement.rank }}
                        </td>
                        <th scope="row" class="placement-name">
                            {{ placement.name }}
                        </th>
                        <td class="placement-score">
                            {{ placement.score }}
                        </td>
                        <td class="placement-reward" title="{{ s[lang].event.valueHint }}">
                                <span class="placement-reward-symbol">
                                    ¤
                                </span>
                            <span class="placement-reward-number">
                                    {{ placement.reward }}
                                </span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <section id="widget-join" class="panel box width-max1">
            <h3 id="widget-join-title">
                {{ s[lang].widget.join.title | safe }}
            </h3>
            <p>
                {{ s[lang].widget.join.content1 | safe }}
            </p>
            <div id="widget-join-date" class="panel date">
                <time id="widget-join-date-relative" datetime="{{ s.date }}" data-render="relative-long">{{ s.date }}</time>
                <time id="widget-join-date-absolute" datetime="{{ s.date }}" data-render="datetime">{{ s.date }}</time>
            </div>
            <p>
                {{ s[lang].widget.join.content2 | safe }}
            </p>
            {% if s.join %}
                <hr class="float-bottom"/>
                <p id="widget-join-cta" class="cta">
                    <span>
                        {{ s[lang].widget.join.cta }}
                    </span>
                    {% for service_name, service_url in s.join %}
                        <a href="{{ service_url }}"><button>{{ service_name }}</button></a>
                    {% endfor %}
                </p>
            {% endif %}
        </section>
    {% endif %}
</div>
