<footer>
	<span id="copyright">
		© Stefano Pigozzi
	</span>
	&nbsp;|&nbsp;
	<span id="icons">
		Icons <a href="https://fontawesome.com/license/free">CC-BY-4.0</a> <a href="https://fontawesome.com/">Font Awesome</a>
	</span>
	&nbsp;|&nbsp;
	<a href="https://github.com/starshardstudio/events.starshard.studio" id="source">
		Source code
	</a>
</footer>
