---
layout: default

eleventyImport:
    collections:
        - events
        - players

s:
    icon: "https://raw.githubusercontent.com/starshardstudio/emblems/main/rendered/calendar-day.png"
    en:
        title:
            pre: "You've reached the homepage of"
            main: "Star Shard Events"
            post: "Have fun!"

        about:
            title: "About"
            about:
                title: "Where am I?"
                content: "This is the website where events organized by <i>Star Shard Studio</i> are published, announced, and archived."

        data:
            title: "What we're doing"
            events:
                title: "Events"
                content: |-
                    All events we organized, from the newest to the oldest.
                    Now available as a <a rel="feed" type="application/atom+xml" title="Our events" href="events/atom.xml">RSS feed</a>!

        event:
            descriptionHint: "Event description"
            dateHint: "Start date"
            countHint: "Number of partecipants"
            leadingHint: "Leading player"
            valueHint: "First place reward"

    it:
        title:
            pre: "Hai raggiunto la home di"
            main: "Star Shard Events"
            post: "Divertiti!"

        about:
            title: "A proposito"
            about:
                title: "Dove sono?"
                content: "Questo è il sito web dove vengono pubblicati, annunciati, e archiviati gli eventi organizzati da <i>Star Shard Studio</i>."

        data:
            title: "Cosa stiamo facendo"
            events:
                title: "Eventi"
                content: |-
                    Tutti gli eventi che abbiamo organizzato, dal più recente al più vecchio.
                    Ora anche in forma di <a rel="feed" type="application/atom+xml" title="I nostri eventi" href="events/atom.xml">feed RSS</a>!

        event:
            descriptionHint: "Descrizione dell'evento"
            dateHint: "Data di inizio"
            countHint: "Numero di partecipanti"
            leadingHint: "Giocatore in testa"
            valueHint: "Premio primo posto"
---

<div id="about" class="chapter-1">
    <h2>
        {{ s[lang].about.title | safe }}
    </h2>
    <div id="about-about" class="panel box width-max1">
        <h3 id="about-about-title">
            {{ s[lang].about.about.title | safe }}
        </h3>
        <p id="about-about-content">
            {{ s[lang].about.about.content | safe }}
        </p>
    </div>
</div>

<div id="data" class="chapter-1">
    <h2 id="data-title">
        {{ s[lang].data.title | safe }}
    </h2>
    <div id="data-events" class="panel box width-max2">
        <h3 id="data-events-title">
            {{ s[lang].data.events.title | safe }}
        </h3>
        <p id="data-events-content">
            {{ s[lang].data.events.content | safe }}
        </p>
        <hr/>
        <ul id="data-events-list">
            {% for event in events | sort(reverse=true, attr="updated") %}
                {% if event.published and event[lang] %}
                    <li id="event-{{ event.id }}" class="event {% if event.finished %}fade{% endif %}">
                        <img alt="" class="event-icon icon" src="{{ event.icon }}"/>
                        <h4 class="event-title">
                            <a href="/{{ lang }}/events/{{ event.id }}/">
                                {{ event[lang].title.main }}
                            </a>
                        </h4>
                        <div class="event-date" title="{{ s[lang].event.dateHint }}">
                            <time datetime="{{ event.date }}" data-render="date">{{ event.date }}</time>
                        </div>
                        <div class="event-description" title="{{ s[lang].event.descriptionHint }}">
                            {{ event[lang].title.post | safe }}
                        </div>
                        <div class="event-placements">
                            {% if event.placements | selectattr("name") | length > 1 %}
                                <span class="event-placements-count" title="{{ s[lang].event.countHint }}">
                                    <span class="event-placements-count-symbol" aria-label="{{ s[lang].event.countHint }}">
                                        ♙
                                    </span>
                                    <span class="event-placements-count-number">
                                        {{ event.placements | selectattr("name") | length }}
                                    </span>
                                </span>
                                <span class="events-placements-connector" role="separator">
                                    ·
                                </span>
                                <span class="event-placements-leading" title="{{ s[lang].event.leadingHint }}">
                                    <span class="event-placements-leading-symbol" aria-label="{{ s[lang].event.leadingHint }}">
                                        ♔
                                    </span>
                                    <span class="event-placements-leading-name">
                                        {{ event.placements[0].name }}
                                    </span>
                                </span>
                                <span class="events-placements-connector" role="separator">
                                    ·
                                </span>
                            {% endif %}
                            {% if event.placements[0].reward %}
                                <span class="event-placements-reward placement-reward" title="{{ s[lang].event.valueHint }}">
                                    <span class="event-placement-reward-symbol placement-reward-symbol" aria-label="{{ s[lang].event.valueHint }}">
                                        ¤
                                    </span>
                                    <span class="event-placement-reward-number placement-reward-number">
                                        {{ event.placements[0].reward }}
                                    </span>
                                </span>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
