body {
    padding: 8px;
    justify-content: start;
    max-width: unset;
}

footer {
    margin-top: auto;
    margin-bottom: 0;
}

.layout-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.layout-column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#navbar {
    align-items: center;
}

#navbar :is(h1, h2, h3, h4, h5, h6) {
    line-height: 1em;
}

#navbar #title-main {
    font-size: 28px;
    margin-right: 16px;
}

#navbar #title-post {
    font-size: 16px;
    font-weight: 400;
    --bhsl-current-hue: var(--bhsl-foreground-hue);
    --bhsl-current-saturation: var(--bhsl-foreground-saturation);
    --bhsl-current-lightness: var(--bhsl-foreground-lightness);
}

@media screen and (max-width: 800px) {
    #home-container {
        flex-wrap: wrap;
    }

    #home-left {
        flex-basis: 100%;
    }

    #home-right {
        flex-basis: 100%;
    }

    main {
        margin-top: unset;
    }

    #navbar {
        flex-direction: column;
        position: static;
    }

    #navbar #title-icon {
        width: 64px;
        height: 64px;
    }
    
    #navbar #nav-actions {
        display: none;
    }
}
@media screen and (min-width: 800px) {
    #home-container {
        flex-wrap: nowrap;
    }

    #home-left {
        flex-basis: 400px;
    }

    #home-right {
        flex-grow: 1;
    }

    main {
        margin-top: 48px;
    }

    #navbar {
        flex-direction: row;
        position: fixed;
        top: 8px;
        left: 8px;
        z-index: 10;
        width: calc(100vw - 16px);
    }

    #navbar #title-icon {
        width: 32px;
        height: 32px;
    }

    #navbar #nav-actions {
        margin-left: auto;
    }
}


.icon {
	display: inline-block;
	height: 1em;
	border-radius: 100%;
	box-shadow: var(--b-outer-shadow);
}

img.panel {
    padding: 0;
}

@media screen and (max-width: 492px) {
    .width-max1 {
        flex-basis: 100%;
        flex-grow: 0;
    }
}
@media screen and (min-width: 493px) {
    .width-max1 {
        flex-basis: 476px;
        flex-grow: 0;
    }
}

@media screen and (max-width: 984px) {
    .width-max2 {
        flex-basis: 100%;
        flex-grow: 0;
    }
}
@media screen and (min-width: 985px) {
    .width-max2 {
        flex-basis: 960px;
        flex-grow: 0;
    }
}

.placement-place {
    text-align: right;
}
.placement-reward {
    text-align: right;
}
.placement-reward-number {
    font-weight: 500;
}
:root {
    --bhsl-gold-hue: 36deg;
    --bhsl-gold-saturation: 100%;
    --bhsl-gold-lightness: 60%;

    --bhsl-silver-hue: 205deg;
    --bhsl-silver-saturation: 20%;
    --bhsl-silver-lightness: 83%;

    --bhsl-bronze-hue: 24deg;
    --bhsl-bronze-saturation: 100%;
    --bhsl-bronze-lightness: 62%;
}
.place-1 {
    --bhsl-current-hue: var(--bhsl-gold-hue);
    --bhsl-current-saturation: var(--bhsl-gold-saturation);
    --bhsl-current-lightness: var(--bhsl-gold-lightness);
}
.place-1 :is(td, th) {
    background-color: hsl(var(--bhsl-gold-hue) var(--bhsl-gold-saturation) var(--bhsl-gold-lightness) / 0.1)
}
.place-2 {
    --bhsl-current-hue: var(--bhsl-silver-hue);
    --bhsl-current-saturation: var(--bhsl-silver-saturation);
    --bhsl-current-lightness: var(--bhsl-silver-lightness);
}
.place-2 :is(td, th) {
    background-color: hsl(var(--bhsl-silver-hue) var(--bhsl-silver-saturation) var(--bhsl-silver-lightness) / 0.1)
}
.place-3 {
    --bhsl-current-hue: var(--bhsl-bronze-hue);
    --bhsl-current-saturation: var(--bhsl-bronze-saturation);
    --bhsl-current-lightness: var(--bhsl-bronze-lightness);
}
.place-3 :is(td, th) {
    background-color: hsl(var(--bhsl-bronze-hue) var(--bhsl-bronze-saturation) var(--bhsl-bronze-lightness) / 0.1)
}

.date {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.date time[data-render="relative-long"] {
    font-size: x-large;
    font-weight: 600;

    --bhsl-current-hue: var(--bhsl-primary-hue);
    --bhsl-current-saturation: var(--bhsl-primary-saturation);
    --bhsl-current-lightness: var(--bhsl-primary-lightness);
}

.date time[data-render="datetime"] {
    font-size: small;
}

.events-list {
    margin-left: 0;
    list-style-type: none;
}
.event {
    display: grid;
    grid-template-areas:
        "icon title date"
        "icon description placement"
    ;
    grid-template-columns: 48px 1fr;
    grid-column-gap: 8px;
    grid-template-rows: auto 1fr;

    margin-top: 12px;
    margin-bottom: 12px;
}
.event > .event-icon-link {
    grid-area: icon;
    justify-self: stretch;
    align-self: stretch;
}
.event > .event-icon-link > .event-icon {
    width: 48px;
    height: 48px;
}
.event > .event-title {
    grid-area: title;

    margin: 0;

    text-align: left;
    font-weight: 600;
    font-size: large;
}
.event > .event-description {
    grid-area: description;

    font-size: small;
}
.event > .event-date {
    grid-area: date;
    align-self: center;
    justify-self: end;

    font-weight: 600;
    font-size: large;
}
.event > .event-placements {
    grid-area: placement;
    justify-self: end;

    font-size: small;
}

#widget-container {
    margin-top: auto;
    margin-bottom: auto;
}

.actions {
    font-size: 1.12em;
    font-weight: bold;
    text-align: center;
}

