---
tags: [events]
layout: center

lang: "it"
icon: 'layer-group'
pretitle: 'Steffo presenta'
title: 'NERTS or Nothing'
description: 'Un torneo di solitario competitivo.'
startDate: '2023-04-06T21:00+0200'
---

<div class="chapter-1">
	<section class="panel box width-max1">
		<h3>
			Il tempo è giunto.
		</h3>
		<p>
			Vi siete allenati ovunque e comunque.
		</p>
		<p>
			A lezione, a lavoro, a casa.
		</p>
		<p>
			Di giorno, di sera, di notte.
		</p>
		<p>
			Sul tavolo, al computer, al cellulare.
		</p>
		<p class="larger">
			Non vi aspettavate che sarebbe servito a <strong class="larger"><em class="larger">questo</em></strong>.
		</p>
	</section>
</div>

<div class="chapter-2">
	<section class="panel box width-max1">
		<h3>
			Solitario competitivo?!
		</h3>
		<p>
			<dfn><a href="https://en.wikipedia.org/wiki/Nerts">NERTS</a></dfn> è un gioco di carte che adatta le regole del classico <a href="https://it.wikipedia.org/wiki/Klondike_(solitario)">solitario Klondike</a> a gruppi di fino a 6 giocatori.
		</p>
		<p>
			Completa il tuo solitario mentre tieni d'occhio il progresso degli altri per aiutarli o ostacolarli, segnando punti che ti permetteranno di vincere la partita!
		</p>
		<a href="https://steamuserimages-a.akamaihd.net/ugc/2059874233254322702/1FA4D90E9C44475B29BBB1C37274C63D3B256AE8/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false">
			<img alt="Le regole." src="https://steamuserimages-a.akamaihd.net/ugc/2059874233254322702/1FA4D90E9C44475B29BBB1C37274C63D3B256AE8/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false">
		</a>
		<a href="https://steamuserimages-a.akamaihd.net/ugc/1690526646633093224/350EF79FA1B6C1A77827BC7365AF78EF01564F7B/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false">
			<img alt="Uno screenshot del gioco." src="https://steamuserimages-a.akamaihd.net/ugc/1690526646633093224/350EF79FA1B6C1A77827BC7365AF78EF01564F7B/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false">
		</a>
		<hr class="float-bottom"/>
		<p class="font-larger">
			Scarica <i>NERTS! Online</i>: <a href="https://store.steampowered.com/app/1131190/">su Steam</a>
		</p>
	</section>
<section class="panel box width-max1">
	<h3>
		Risultati
	</h3>
	<ol>
		<li class="place-first">xZefyr</li>
		<li class="place-second">Viktya</li>
		<li class="place-third">Eldavo</li>
		<li>Gattopandacorno</li>
		<li>Steffo</li>
	</ol>
	<hr/>
	<p>
		Grazie a tutti di aver partecipato!
		</p>
	</section>
</div>
